<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/etri.layout">
<div class="common_clearfix" layout:fragment="tit">
    <div class="cont_current" th:text="#{w.compute}">compute</div>
</div>
<div class="cont_detail_top common_clearfix" layout:fragment="detail_tit">
    <h4 class="detail_tit">ETRI Edge Server</h4>
</div>

<div class="cont_body cont_list" layout:fragment="content.center">

    <div class="tb_wrap">
        <table class="tb_grid" id="server-grid">
        </table>
    </div><!-- //tb_wrap -->

    <div class="cont_body_btm">
        <div class="pagenation_wrap" id="pager1">
            <div class="pagenation_inner">
                <button type="button" class="pagenation_btn first"><span>First</span></button>
                <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                <div class="pagenation_current"><strong class="current">1 - 1</strong>of<span class="total">1</span>
                </div>
                <button type="button" class="pagenation_btn next"><span>Next</span></button>
                <button type="button" class="pagenation_btn last"><span>Last</span></button>
            </div>
        </div>
    </div><!-- //cont_body_btm -->
</div><!-- //cont_list -->

<div class="cont_body cont_detail" layout:fragment="content.right">
    <div class="cont_detail_inner">
        <div class="cont_detail_top common_clearfix">
            <h4 class="detail_tit">ETRI Edge Server's CCTV</h4>
        </div><!-- //cont_detail_top -->
        <div class="cont_tab_wrap">
            <div class="detail_tab">
                <div class="inner">
                    <a id="tab_cctv" th:text="#{title.tab.cctv}"><span>CCTV</span></a>
                    <a id="tab_monitoring" th:text="#{title.tab.monitoring}"><span>Monitoring</span></a>
                </div>
            </div><!-- //detail_tab -->
        </div>

        <!-- TAB 1 -->
        <div class="detail_cont" id="tab1">
            <div class="detail_data">
                <div class="tb_wrap">
                    <table class="tb_grid" id="cctv-grid">

                    </table>
                </div><!-- //tb_wrap -->
                <div class="cont_body_btm">
                    <div class="pagenation_wrap" id="cctvpager">
                        <div class="pagenation_inner">
                            <button type="button" class="pagenation_btn first"><span>First</span></button>
                            <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                            <div class="pagenation_current"><strong class="current">1 - 0</strong>of<span class="total">0</span></div>
                            <button type="button" class="pagenation_btn next"><span>Next</span></button>
                            <button type="button" class="pagenation_btn last"><span>Last</span></button>
                        </div>
                    </div>
                </div><!-- //cont_body_btm -->
            </div><!-- //detail_data -->
        </div>
        <!-- TAB 2 -->
        <div class="detail_cont" id="tab2">
            <iframe src="http://101.79.1.113:3000/d-solo/m30GdO2nk/new-dashboard-copy?orgId=1&from=1638842323793&to=1638845923793&panelId=4" width="33.1%" height="200" frameborder="0"></iframe>
            <iframe src="http://101.79.1.113:3000/d-solo/m30GdO2nk/new-dashboard-copy?orgId=1&from=1638842294594&to=1638845894594&panelId=2" width="33.1%" height="200" frameborder="0"></iframe>
            <iframe src="http://101.79.1.113:3000/d-solo/m30GdO2nk/new-dashboard-copy?orgId=1&from=1638842921605&to=1638846521606&panelId=8" width="33.1%" height="200" frameborder="0"></iframe>
            <iframe src="http://101.79.1.113:3000/d-solo/m30GdO2nk/new-dashboard-copy?orgId=1&from=1638842329807&to=1638845929807&panelId=12" width="33.1%" height="200" frameborder="0"></iframe>
            <iframe src="http://101.79.1.113:3000/d-solo/m30GdO2nk/new-dashboard-copy?orgId=1&from=1638842312177&to=1638845912177&panelId=17" width="33.1%" height="200" frameborder="0"></iframe>
            <iframe src="http://101.79.1.113:3000/d-solo/m30GdO2nk/new-dashboard-copy?orgId=1&from=1638842341189&to=1638845941189&panelId=6" width="33.1%" height="200" frameborder="0"></iframe>


        </div>
    </div>
</div><!-- cont_detail -->

<div class="content_center content_extend" layout:fragment="content.extend" th:remove="all"></div>

<div layout:fragment="user.embedded.script" th:remove="tag">
    <script type="text/javascript" th:inline="javascript">
        var id = /*[[${param.id}]]*/;

    </script>
    <script type="text/javascript" th:src="@{/js/console/etri/server.js}"></script>
    <script type="text/javascript" th:src="@{/js/console/etri/monitoring.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            ServerUI.init();
        });

    </script>
</div>
</html>