<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/etri.layout">
<div class="common_clearfix" layout:fragment="tit">
    <div class="cont_current" th:text="#{w.compute}">compute</div>
</div>
<div class="cont_detail_top common_clearfix" layout:fragment="detail_tit">
    <h4 class="detail_tit">ETRI Edge Server</h4>
</div>

<div class="cont_body cont_list" layout:fragment="content.center">

    <div class="tb_wrap">
        <table class="tb_grid" id="server-grid">
        </table>
    </div><!-- //tb_wrap -->

    <div class="cont_body_btm">
        <div class="pagenation_wrap" id="pager1">
            <div class="pagenation_inner">
                <button type="button" class="pagenation_btn first"><span>First</span></button>
                <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                <div class="pagenation_current"><strong class="current">1 - 1</strong>of<span class="total">1</span>
                </div>
                <button type="button" class="pagenation_btn next"><span>Next</span></button>
                <button type="button" class="pagenation_btn last"><span>Last</span></button>
            </div>
        </div>
    </div><!-- //cont_body_btm -->
</div><!-- //cont_list -->

<div class="cont_body cont_detail" layout:fragment="content.right">
    <div class="cont_detail_inner">
        <div class="cont_detail_top common_clearfix">
            <h4 class="detail_tit">ETRI Edge Server's CCTV</h4>
        </div><!-- //cont_detail_top -->
        <div class="cont_tab_wrap">
            <div class="detail_tab">
                <div class="inner">
                    <a id="tab_cctv" th:text="#{title.tab.cctv}"><span>CCTV</span></a>
                    <a id="tab_monitoring" th:text="#{title.tab.monitoring}"><span>Monitoring</span></a>
                </div>
            </div><!-- //detail_tab -->
        </div>

        <!-- TAB 1 -->
        <div class="detail_cont" id="tab1">
            <div class="detail_data">
                <div class="tb_wrap">
                    <table class="tb_grid" id="cctv-grid">

                    </table>
                </div><!-- //tb_wrap -->
                <div class="cont_body_btm">
                    <div class="pagenation_wrap" id="cctvpager">
                        <div class="pagenation_inner">
                            <button type="button" class="pagenation_btn first"><span>First</span></button>
                            <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                            <div class="pagenation_current"><strong class="current">1 - 0</strong>of<span class="total">0</span></div>
                            <button type="button" class="pagenation_btn next"><span>Next</span></button>
                            <button type="button" class="pagenation_btn last"><span>Last</span></button>
                        </div>
                    </div>
                </div><!-- //cont_body_btm -->
            </div><!-- //detail_data -->
        </div>
        <!-- TAB 2 -->
        <div class="detail_cont" id="tab2">
            <div>
                <div>CPU Usage</div>
                <canvas width="500" height="200" id="cpu_usage"></canvas>
                <button id="cpu-usage-5m">5m</button>
                <button id="cpu-usage-10m">10m</button>
                <button id="cpu-usage-30m">30m</button>
            </div>
            <div>
                <div>Memory Usage</div>
                <canvas width="500" height="200" id="mem_usage"></canvas>
                <button id="mem-usage-5m">5m</button>
                <button id="mem-usage-10m">10m</button>
                <button id="mem-usage-30m">30m</button>
            </div>
            <div>
                <div>Disk Usage</div>
                <canvas width="500" height="200" id="disk_usage"></canvas>
                <button id="disk-usage-5m">5m</button>
                <button id="disk-usage-10m">10m</button>
                <button id="disk-usage-30m">30m</button>
            </div>
            <div>
                <div>CPU Core</div>
                <canvas width="500" height="200" id="cpu_core"></canvas>
                <button id="cpu-core-5m">5m</button>
                <button id="cpu-core-10m">10m</button>
                <button id="cpu-core-30m">30m</button>
            </div>
            <div>
                <div>Memory Total</div>
                <canvas width="500" height="200" id="mem_total"></canvas>
                <button id="mem-total-5m">5m</button>
                <button id="mem-total-10m">10m</button>
                <button id="mem-total-30m">30m</button>
            </div>
            <div>
                <div>Disk Total</div>
                <canvas width="500" height="200" id="disk_total"></canvas>
                <button id="disk-total-5m">5m</button>
                <button id="disk-total-10m">10m</button>
                <button id="disk-total-30m">30m</button>
            </div>
        </div>
    </div>
</div><!-- cont_detail -->

<div class="content_center content_extend" layout:fragment="content.extend" th:remove="all"></div>

<div layout:fragment="user.embedded.script" th:remove="tag">
    <script type="text/javascript" th:inline="javascript">
        var id = /*[[${param.id}]]*/;

    </script>
    <script type="text/javascript" th:src="@{/js/console/etri/server.js}"></script>
    <script type="text/javascript" th:src="@{/js/console/etri/monitoring.js}"></script>
    <script type="text/javascript" th:src="@{/js/console/etri/new_monitoring.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            ServerUI.init();
        });

    </script>
</div>
</html>