<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/view.layout">

<div class="cont_wrap cont_dashboard" layout:fragment="content">
	<div class="common_clearfix">
		<div class="cont_current" th:text="#{w.t.multi(#{w.service},#{w.dashboard})}">SERVICEs DASHBOARD</div>
	</div>
	<div class="cont_inner">
		<div class="content common_clearfix">

			<section class="dashboard_panel c2">
				<div class="dashboard_tit"> <th:block th:text="#{w.t.multi(#{w.private},#{w.cloud})}">Private cloud </th:block>
					<div class="date last_updated_at"></div>
				</div>
				<div class="dashboard_cont common_clearfix">
					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit" th:text="#{w.total}">Total</div>
						<div class="dashboard_subcont">
							<div class="dashboard_circle_wrap">
								<div class="dashboard_circle">
									<div class="circle">
										<div class="value">
											<div class="num" id="private_total">
												<!-- 0 -->
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
											</div>
											<div  class="name" th:text="#{title.jqgrid.server}">Server</div>
										</div>
									</div>
								</div>
								<ul class="dashboard_circle_info">
									<li><div class="name" th:text="#{w.run}">Running</div>
										<div class="num" id="private_running">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.stop}">Stop</div>
										<div class="num" id="private_stop">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.etc}">ETC</div>
										<div class="num" id="private_etc">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
								</ul>
							</div><!-- //dashboard_circle_wrap -->
						</div><!-- //dashboard_subcont -->
					</div>

					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit" th:text="#{w.cloud}">Cloud</div>
						<div class="dashboard_subcont boxcont">

							<div class="swiper-container" id="private">
								<div class="dashboard_subcont_tab">
									<div class="tabs">
										<div class="tabs_inner swiper-pagination"></div>
									</div>
									<div class="btns">
										<button type="button" class="btn_swiper_prev"><span class="ico_prev">Prev</span></button>
										<button type="button" class="btn_swiper_next"><span class="ico_next">Next</span></button>
									</div>
								</div><!-- //dashboard_subcont_tab -->
								<ul class="swiper-wrapper">
								</ul>
							</div><!-- //swiper-container -->

						</div><!-- //dashboard_subcont -->
					</div>
				</div><!-- /dashboard_cont -->
			</section><!-- //dashboard_panel -->

			<section class="dashboard_panel">
				<div class="dashboard_tit"> <th:block>엣지서버 </th:block>
					<div class="date last_updated_at"></div>
				</div>
				<div class="dashboard_cont common_clearfix">
					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit" th:text="#{w.total}">Total</div>
						<div class="dashboard_subcont">
							<div class="dashboard_circle_wrap">
								<div class="dashboard_circle">
									<div class="circle">
										<div class="value">
											<div class="num" id="public_total">
												<!-- 0 -->
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
											</div>
											<div class="name" th:text="#{title.jqgrid.server}">Server</div>
										</div>
									</div>
								</div>
								<ul class="dashboard_circle_info">
									<li><div class="name" th:text="#{w.run}">Running</div>
										<div class="num" id="public_running">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.stop}">Stop</div>
										<div class="num" id="public_stop">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.etc}">ETC</div>
										<div class="num" id="public_etc">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
								</ul>
							</div>
						</div><!-- //dashboard_subcont -->
					</div><!-- //dashboard_sub_wrap -->

					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit">엣지</div>
						<div class="dashboard_subcont boxcont">

							<div class="swiper-container" id="public">
								<div class="dashboard_subcont_tab">
									<div class="tabs">
										<div class="tabs_inner swiper-pagination"></div>
									</div>
									<div class="btns">
										<button type="button" class="btn_swiper_prev"><span class="ico_prev">Prev</span></button>
										<button type="button" class="btn_swiper_next"><span class="ico_next">Next</span></button>
									</div>
								</div><!-- //dashboard_subcont_tab -->
								<ul class="swiper-wrapper">

								</ul>
							</div><!-- //swiper-container -->

						</div><!-- //dashboard_subcont -->
					</div><!-- //dashboard_sub_wrap -->
				</div><!-- //dashboard_cont -->
			</section><!-- //dashboard_panel -->

<!--			<section class="dashboard_panel c3">-->
<!--				<div class="dashboard_tit"> <th:block th:text="#{w.cost}">Cost</th:block>-->
<!--					<div class="date last_updated_at"></div>-->
<!--				</div>-->
<!--				<div class="dashboard_cont boxcont">-->

<!--					<div class="swiper-container" id="swiper_03">-->
<!--						<div class="dashboard_subcont_tab">-->
<!--							<div class="tabs">-->
<!--								<div class="tabs_inner swiper-pagination"></div>-->
<!--							</div>-->
<!--							<div class="btns">-->
<!--								<button type="button" class="btn_swiper_prev"><span class="ico_prev">Prev</span></button>-->
<!--								<button type="button" class="btn_swiper_next"><span class="ico_next">Next</span></button>-->
<!--							</div>-->
<!--						</div>&lt;!&ndash; //dashboard_subcont_tab &ndash;&gt;-->
<!--						<ul class="swiper-wrapper">-->
<!--						</ul>-->
<!--					</div>&lt;!&ndash; //swiper-container &ndash;&gt;-->

<!--				</div>&lt;!&ndash; //dashboard_cont &ndash;&gt;-->
<!--			</section>&lt;!&ndash; //dashboard_panel &ndash;&gt;-->
		</div><!-- //content -->
	</div><!-- //cont_inner -->
</div><!-- //cont_wrap -->

<div layout:fragment="user.embedded.script" th:remove="tag">
	<script type="text/javascript" th:src="@{/js/console/dashboard.js}"></script>
	<script type="text/javascript" th:src="@{/js/console/dashboardCreate.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function () {
			DashboardUI.init();
			// createServerUI.init();
		});

		$('.swiper-pagination-bullet').on('click', function(){
			var target = $(this).parent('.tabs_inner');
			var left = $(this).position().left + ($(this).width()/2) - (target.parent().width()/2);

			if( -left > 8 ){
				target.css('left', 8 );
			} else {
				target.css('left', -left );
			}
		});
	</script>
</div>
</html>
