<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/view.layout">

<div class="cont_wrap cont_dashboard" layout:fragment="content">
	<div class="common_clearfix">
		<div class="cont_current" th:text="#{w.t.multi(#{w.service},#{w.dashboard})}">SERVICE DASHBOARD</div>
	</div>
	<div class="cont_inner">
		<div class="content common_clearfix">

			<section class="dashboard_panel c2">
				<div class="dashboard_tit"> <th:block th:text="#{w.t.multi(#{w.private},#{w.cloud})}">Private cloud </th:block>
					<div class="date last_updated_at"></div>
				</div>
				<div class="dashboard_cont common_clearfix">
					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit" th:text="#{w.total}">Total</div>
						<div class="dashboard_subcont">
							<div class="dashboard_circle_wrap">
								<div class="dashboard_circle">
									<div class="circle">
										<div class="value">
											<div class="num" id="private_total">
												<!-- 0 -->
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
											</div>
											<div  class="name" th:text="#{title.jqgrid.server}">Server</div>
										</div>
									</div>
								</div>
								<ul class="dashboard_circle_info">
									<li><div class="name" th:text="#{w.run}">Running</div>
										<div class="num" id="private_running">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.stop}">Stop</div>
										<div class="num" id="private_stop">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.etc}">ETC</div>
										<div class="num" id="private_etc">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
								</ul>
							</div><!-- //dashboard_circle_wrap -->
						</div><!-- //dashboard_subcont -->
					</div>

					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit" th:text="#{w.cloud}">Cloud</div>
						<div class="dashboard_subcont boxcont">

							<div class="swiper-container" id="private">
								<div class="dashboard_subcont_tab">
									<div class="tabs">
										<div class="tabs_inner swiper-pagination"></div>
									</div>
									<div class="btns">
										<button type="button" class="btn_swiper_prev"><span class="ico_prev">Prev</span></button>
										<button type="button" class="btn_swiper_next"><span class="ico_next">Next</span></button>
									</div>
								</div><!-- //dashboard_subcont_tab -->
								<ul class="swiper-wrapper">
								</ul>
							</div><!-- //swiper-container -->

						</div><!-- //dashboard_subcont -->
					</div>
				</div><!-- /dashboard_cont -->
			</section><!-- //dashboard_panel -->

			<section class="dashboard_panel">
				<div class="dashboard_tit"> <th:block>엣지서버 </th:block>
					<div class="date last_updated_at"></div>
				</div>
				<div class="dashboard_cont common_clearfix">
					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit" th:text="#{w.total}">Total</div>
						<div class="dashboard_subcont">
							<div class="dashboard_circle_wrap">
								<div class="dashboard_circle">
									<div class="circle">
										<div class="value">
											<div class="num" id="public_total">
												<!-- 0 -->
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
											</div>
											<div class="name" th:text="#{title.jqgrid.server}">Server</div>
										</div>
									</div>
								</div>
								<ul class="dashboard_circle_info">
									<li><div class="name" th:text="#{w.run}">Running</div>
										<div class="num" id="public_running">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.stop}">Stop</div>
										<div class="num" id="public_stop">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
									<li><div class="name" th:text="#{w.etc}">ETC</div>
										<div class="num" id="public_etc">
											<!-- 0 -->
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35 50" style="enable-background:new 0 0 35 50;" xml:space="preserve">
                                                            <path d="M33.4,34.7c0,4.8-1.6,8.7-4.8,11.5c-2.9,2.6-6.6,3.9-11,3.9c-4.4,0-8-1.3-11-3.9c-3.2-2.8-4.8-6.6-4.8-11.5V15.3
                                                            c0-4.8,1.6-8.7,4.8-11.5C9.5,1.3,13.2,0,17.5,0c4.4,0,8,1.3,11,3.9c3.2,2.8,4.8,6.6,4.8,11.5V34.7z M22,34.7V15.3
                                                            c0-1.7-0.4-2.9-1.2-3.8c-0.8-0.9-1.9-1.3-3.2-1.3c-1.3,0-2.4,0.4-3.2,1.3c-0.9,0.9-1.3,2.1-1.3,3.8v19.4c0,1.7,0.4,2.9,1.3,3.8
                                                            c0.9,0.9,1.9,1.3,3.2,1.3c1.3,0,2.4-0.4,3.2-1.2C21.6,37.7,22,36.4,22,34.7z"/>
                                                            </svg>
										</div>
									</li>
								</ul>
							</div>
						</div><!-- //dashboard_subcont -->
					</div><!-- //dashboard_sub_wrap -->

					<div class="dashboard_sub_wrap">
						<div class="dashboard_subtit">엣지</div>
						<div class="dashboard_subcont boxcont">

							<div class="swiper-container" id="public">
								<div class="dashboard_subcont_tab">
									<div class="tabs">
										<div class="tabs_inner swiper-pagination"></div>
									</div>
									<div class="btns">
										<button type="button" class="btn_swiper_prev"><span class="ico_prev">Prev</span></button>
										<button type="button" class="btn_swiper_next"><span class="ico_next">Next</span></button>
									</div>
								</div><!-- //dashboard_subcont_tab -->
								<ul class="swiper-wrapper">

								</ul>
							</div><!-- //swiper-container -->

						</div><!-- //dashboard_subcont -->
					</div><!-- //dashboard_sub_wrap -->
				</div><!-- //dashboard_cont -->
			</section><!-- //dashboard_panel -->

	
		</div><!-- //content -->
	</div><!-- //cont_inner -->
</div><!-- //cont_wrap -->



<div class="content_center content_extend" layout:fragment="content.extend" th:remove="all"></div>

<div th:remove="tag" layout:fragment="page.popup">

	<div class="pop_wrap" id="popupCreate_etri" style="width:850px">
		<button type="button" class="btn_pop_close"><span class="ico_del"></span></button>
		<div class="pop_common">
			<div class="pop_tit" th:text="#{w.t.multi(#{title.tab.instance},#{w.create})}">launch instance</div>
			<div class="pop_body">
				<div class="cont_tab pop_tab_etri"><div class="inner">
					<a class="on"><span th:text="#{title.tab.image}">Image</span></a>
					<a><span th:text="#{title.jqgrid.imageType}">Image Type</span></a>
					<a><span th:text="#{w.security-group}">Security Group</span></a>
					<a><span th:text="#{w.t.multi(#{title.tab.instance},#{w.information})}">Instance Info</span></a>
					<a class="last"><span th:text="#{w.configuration}">Configuration</span></a>
				</div></div><!-- //cont_tab -->
				<div class="pop_cont">

					<!-- TAB 1 -->
					<div class="pop_tab_cont_etri" id="pop_tab_etri1">
						<div class="pop_create_selectbox">
							<label class="tit" for="" th:text="#{title.tab.image}">Image</label>
							<div class="select_wrap">
								<select id="image_etri">
									<option value="public" th:text="#{w.t.multi(#{w.public},#{title.tab.image})}">Public Image</option>
									<option value="custom" th:text="#{w.t.multi(#{w.user-appointment},#{title.tab.image})}">Custom Image</option>
								</select>
							</div>
						</div><!-- //pop_create_selectbox -->
						<div class="pop_tb_top common_clearfix">
							<div class="pop_tb_top_tit" th:text="#{w.t.selection(#{w.image})}">Select One Image</div>
						</div><!-- //pop_tb_top -->
						<div class="tb_wrap">
							<table class="tb_grid" id="custom_img_table_etri">
								<thead>
					
								<tr>
									<th class="row_input"></th>
									<th style="width: 300px;" th:text="#{title.jqgrid.name}">Name</th>
									<th th:text="#{title.jqgrid.osType}">OS</th>
									<th th:text="#{title.jqgrid.architecture}">Architecture</th>
									<th th:text="#{w.hypervisor}">Hypervisor</th>
									<th>VirtType</th>
									<th th:text="#{w.t.multi(#{w.root},#{w.device})}">Root Device</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							<table class="tb_grid" id="public_img_table_etri">
								<thead>
								<tr>
									<th class="row_input"></th>
									<th style="width: 300px;"th:text="#{title.jqgrid.name}" >Name</th>
									<th th:text="#{title.jqgrid.osType}">OS</th>
									<th th:text="#{title.jqgrid.architecture}">Architecture</th>
									<th th:text="#{w.hypervisor}">Hypervisor</th>
									<th>VirtType</th>
									<th th:text="#{w.t.multi(#{w.root},#{w.device})}">Root Device</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div> <!-- //tb_wrap -->
					</div><!-- //pop_tab_cont -->

					<!-- TAB 2 -->
					<div class="pop_tab_cont_etri" id="pop_tab_etri2">
						<div class="pop_tb_top common_clearfix">
							<div class="pop_tb_top_tit" th:text="#{w.t.selection(#{w.t.multi(#{w.image},#{w.type})})}">Select One Image Type</div>
						</div><!-- //pop_tb_top -->

						<div class="tb_wrap">
							<table class="tb_grid">
								<thead>
								<tr>
									<th class="row_input"></th>
									<th th:text="#{title.jqgrid.groupName}">Group</th>
									<th>Flavor</th>
									<th>vCPUs</th>
									<th th:text="#{w.t.multi(#{w.memory},'(GiB)')}">Memory (GiB)</th>
									<th th:text="#{w.t.multi(#{title.tab.instance},#{w.storage})}">Instance Storage</th>
									<th th:text="#{w.t.multi(#{w.network},#{w.performance})}">Network Performance</th>
								</tr>
								</thead>
								<tbody>
								
								</tbody>
							</table>
						</div><!-- //tb_wrap -->
					</div><!-- //pop_tab_cont -->

					<!-- TAB 3 -->
					<div class="pop_tab_cont_etri" id="pop_tab_etri3">
						<div class="pop_tb_top common_clearfix">
							<div class="pop_tb_top_tit" th:text="#{w.t.selection(#{w.security-group})}">Select One Security Group</div>
						</div><!-- //pop_tb_top -->

						<div class="tb_wrap">
							<table class="tb_grid">
								<thead>
								<tr>
									<th class="row_input"></th>
									<th th:text="#{title.jqgrid.groupId}">Group ID</th>
									<th th:text="#{title.jqgrid.groupName}">Group Name</th>
									<th th:text="#{title.jqgrid.description}">Description</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div><!-- //tb_wrap -->
					</div><!-- //pop_tab_cont -->

					<!-- TAB 4 -->
					<div class="pop_tab_cont_etri" id="pop_tab_etri4">
						<table class="tb_pop_data">
							<tr>
								<th th:text="#{w.t.multi(#{title.tab.instance},#{title.jqgrid.name})}">Instance Name</th>
								<td><input type="text" class="input_tb_text name" placeholder="Input your instance name"></td>
							</tr>
							<tr>
								<th th:text="#{w.instances}">Instance Count</th>
								<td><input type="text" class="input_tb_text instanceCount" placeholder="Input your instance count"></td>
							</tr>
							<tr>
								<th th:text="#{w.t.multi(#{w.network},'(VPC)')}">Network (VPC)</th>
								<td>
									<div class="select_wrap">
										<select id="network_etri">
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th th:text="#{title.jqgrid.subnet}">Subnet</th>
								<td>
									<div class="select_wrap">
										<select id="subnet_etri">
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th th:text="#{title.tab.keypair}">KeyPair</th>
								<td>
									<div class="select_wrap">
										<select id="keypair_etri">
											<option value="no">No KeyPair</option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th th:text="#{w.detail-monitoring}">Detail Monitoring</th>
								<td>
									<input type="radio" id="is_monitoring_false_etri" name="monitoring" value="false" checked="checked">
									<label for="is_monitoring_false_etri" th:text="#{w.disable}">False</label>
									<input type="radio" id="is_monitoring_true_etri" name="monitoring" value="true">
									<label for="is_monitoring_true_etri" th:text="#{w.enable}">True</label>
								</td>
							</tr>
							
						</table>
					</div><!-- //pop_tab_cont -->

					<!-- TAB 5 -->
					<div class="pop_tab_cont_etri" id="pop_tab_etri5">
						<table class="tb_pop_data">
							<tr>
								<th th:text="#{w.custom-script-load-from-file}">Load Customization Script from a file</th>
								<td><input type="file" placeholder="select file"></td>
							</tr>
							<tr>
								<th th:text="#{w.custom-script-write}">Create a custom script</th>
								<td>
									<span>Content size: 0 bytes of 16.00 KB</span><!--콘텐츠 크기: 16.00 KB 중 0 바이트-->
									<textarea maxlength="16384" style="width: 618px;height: 295px;"></textarea>
								</td>
							</tr>
						</table>
						<div class="cont_tb_option">
							<input type="checkbox" id="base64_encoded_etri">
							<label for="base64_encoded_etri" th:text="#{s.t.already-exist('base64')}">Already base64 encoded</label>
						</div>
					</div><!-- //pop_tab_cont -->

				</div>
				<div class="pop_btns">
					<!-- <button type="button" class="btn_prev"><span class="ico_arr">PREV</span></button> -->
					<button type="button" class="btn_action" th:text="#{w.create}" style="display: none">LAUNCH INSTANCE</button>
					<button type="button" class="btn_next"><span class="ico_arr" th:text="#{w.next}">NEXT</span></button>
				</div>
			</div><!-- pop_body -->
		</div><!-- pop_common -->
	</div><!-- pop_wrap -->

	<div class="pop_wrap" id="popupCreate_rexgen" style="width:900px">
		<button type="button" class="btn_pop_close"><span class="ico_del"></span></button>
		<div class="pop_common">
			<div class="pop_tit" th:text="#{w.t.multi(#{w.instance},#{w.create})}">launch instance</div>
			<div class="pop_body">
				<div class="cont_tab pop_tab_rexgen"><div class="inner">
					<a  class="on"><span th:text="#{w.t.multi(#{w.instance},#{w.information})}">Instance Info</span></a>
					<a ><span th:text="#{title.jqgrid.resourceGroupName}">Resource Group</span></a>
					<a ><span th:text="#{w.image}">Image</span></a>
					<a ><span th:text="#{w.spec}">Size</span></a>
					<a ><span th:text="#{w.network}">Network</span></a>
					<a class="last" href="#"><span th:text="#{w.configuration}">Configuration</span></a>
				</div></div><!-- //cont_tab -->
				<div class="pop_cont">
					<!-- TAB 1 -->
					<div class="pop_tab_cont_rexgen" id="pop_tab_rexgen1">
						<table class="tb_pop_data">
							<tr>
								<th th:text="#{w.t.name(#{w.instance})}">Instance Name</th>
								<td><input type="text" class="input_tb_text name" placeholder="Input your instance name"></td>
							</tr>
							<tr>
								<th th:text="#{w.t.name(#{w.user})}">Username</th>
								<td><input type="text" class="input_tb_text username" placeholder="Input your instance username"></td>
							</tr>
							<tr>
								<th th:text="#{w.password}">Password</th>
								<td><input type="text" class="input_tb_text password" placeholder="Input your instance password"></td>
							</tr>
							<tr>
								<th th:text="#{w.region}">Region</th>
								<td>
									<div class="select_wrap">
										<select id="region_rexgen">
											
										</select>
									</div>
								</td>
							</tr>
						</table>
					</div><!-- //pop_tab_cont -->

					<!-- TAB 2 -->
					<div class="pop_tab_cont_rexgen" id="pop_tab_rexgen2">
						<table class="tb_pop_data">
							<tr>
								<th th:text="#{w.t.triple(#{w.resource}, #{w.group}, #{w.type})}">Resource Group Type</th>
								<td>
									<input type="radio" id="resource_group_type_exist_rexgen" name="resource_group_type" value="exist">
									<label for="resource_group_type_exist_rexgen">Exist</label>
								</td>
							</tr>
							<tr>
								<th th:text="#{w.t.triple(#{w.resource},#{w.group},#{w.name})}">Resource Group Name</th>
								<td>
									<input type="text" class="input_tb_text name" placeholder="Input your resource group name">
								</td>
							</tr>
							<tr>
								<th th:text="#{w.resource-group-list}">List of resource groups</th>
								<td>
									<div class="select_wrap">
										<select id="resourcegroup_list_rexgen">
										</select>
									</div>
								</td>
							</tr>
						</table>
					</div><!-- //pop_tab_cont -->

					<!-- TAB 3 -->
					<div class="pop_tab_cont_rexgen" id="pop_tab_rexgen3">
						<div class="pop_create_selectbox">
							<label class="tit" for="" th:text="#{w.image}">Image</label>
							<div class="select_wrap">
								<select id="image_rexgen">
									<option value="public" th:text="#{w.t.multi(#{w.public},#{w.image})}">Public Image</option>
									<option value="custom" th:text="#{w.t.multi(#{w.user-appointment},#{w.image})}">Custom ImageCustom Image</option>
								</select>
							</div>
						</div><!-- //pop_create_selectbox -->
						<div class="pop_tb_top common_clearfix">
							<div class="pop_tb_top_tit" th:text="#{w.t.selection(#{w.image})}">Select One Image</div>
						</div><!-- //pop_tb_top -->
						<div class="tb_wrap">
							<table class="tb_grid" id="custom_img_table_rexgen">
								<thead>
								<tr>
									<th class="row_input"></th>
									<th th:text="#{w.name}">Name</th>
									<th th:text="#{w.t.state('OS')}">Os State</th>
									<th th:text="#{w.t.type('OS')}">OS</th>
									<th th:text="#{w.t.multi(#{w.disk}, #{w.size})}">Disk Size</th>
									<th th:text="#{w.t.triple(#{w.storage}, #{w.account}, #{w.type-ko})}">Stroage Account Type</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							<table class="tb_grid" id="public_img_table_rexgen">
								<thead>
								<tr>
									<th class="row_input"></th>
									<th th:text="#{w.name}">Name</th>
									<th th:text="#{w.t.type('OS')}">Os Type</th>
									<th th:text="#{w.publisher}">Publisher</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div><!-- //tb_wrap -->
					</div><!-- //pop_tab_cont -->

					<!-- TAB 4 -->
					<div class="pop_tab_cont_rexgen" id="pop_tab_rexgen4">
						<div class="pop_tb_top common_clearfix">
							<div class="pop_tb_top_tit" th:text="#{w.t.selection(#{w.spec})}">Select One Size</div>
						</div><!-- //pop_tb_top -->

						<div class="tb_wrap">
							<table class="tb_grid">
								<thead>
								<tr>
									<th class="row_input"></th>
									<th th:text="#{w.offering}">Offering</th>
									<th th:text="#{w.t.multi(#{w.vm},#{w.size})}">vmSize</th>
									<th th:text="'Family'">Family</th>
									<th th:text="'vCPUs'">VCPUS</th>
									<th th:text="#{w.t.multi('RAM', '(GB)')}">RAM (GB)</th>
									<th th:text="#{w.t.multi(#{w.data}, #{w.disk})}">Data Disks</th>
									<!--<th>Max IOPS</th>-->
									<th th:text="#{w.premium-disk-support}">Premium Disk Support</th>
								</tr>
								</thead>
								<tbody id="size_list_rexgen">
								</tbody>
							</table>
						</div><!-- //tb_wrap -->
					</div><!-- //pop_tab_cont -->

					<!-- TAB 5 -->
					<div class="pop_tab_cont_rexgen" id="pop_tab_rexgen5">
						<table class="tb_pop_data">
							<tr>
								<th th:text="#{w.t.type(#{w.network})}">Network Type</th>
								<td>
									<input type="radio" id="network_type_exist_rexgen" name="network_type" value="exist">
									<label for="network_type_exist_rexgen">Exist</label>
									<!--<input type="radio" id="network_type_new" name="network_type" value="new">
                                    <label for="network_type_new">New</label>-->
								</td>
							</tr>
							<tr>
								<th th:text="#{w.t.name(#{w.network})}">Network Name</th>
								<td>
									<input type="text" class="input_tb_text network_name" placeholder="Input your network name">
								</td>
							</tr>
							<tr>
								<th th:text="#{w.network}">Network</th>
								<td>
									<div class="select_wrap">
										<select id="network_list_rexgen">
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th th:text="#{w.t.type(#{w.public-ko-ip})}">Public IP Type</th>
								<td>
									<input type="radio" id="public_ip_type_exist_rexgen" name="public_ip_type" value="exist">
									<label for="public_ip_type_exist_rexgen">Exist</label>
									<input type="radio" id="public_ip_type_new_rexgen" name="public_ip_type" value="new">
									<label for="public_ip_type_new_rexgen">New</label>
									<input type="radio" id="public_ip_type_none_rexgen" name="public_ip_type" value="none">
									<label for="public_ip_type_none_rexgen">None</label>
								</td>
							</tr>
							<tr>
								<th th:text="#{w.t.name(#{w.public-ko-ip})}">Public IP Name</th>
								<td>
									<input type="text" class="input_tb_text name" placeholder="Input your public ip name">
								</td>
							</tr>
							<tr>
								<th th:text="#{w.public-ko-ip}">Public IP</th>
								<td>
									<div class="select_wrap">
										<select id="publicip_list_rexgen">
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th th:text="#{w.t.multi(#{w.public-ko}, #{w.inbound-port})}">Public Inbound Port</th>
								<td>
									<div class="select_wrap">
										<input type="radio" id="public_inbound_port_type_none_rexgen" name="public_inbound_port_type" value="none">
										<label for="public_inbound_port_type_none_rexgen">None</label>
										<input type="radio" id="public_inbound_port_type_allow_rexgen" name="public_inbound_port_type" value="allow">
										<label for="public_inbound_port_type_allow_rexgen">Allow selected ports</label>
									</div>
								</td>
							</tr>
							<tr>
								<th th:text="#{w.inbound-port}">Inbound Port</th>
								<td>
									<div class="select_wrap">
										<input type="checkbox" id="public_inbound_port_http_rexgen" value="HTTP"><label for="public_inbound_port_http_rexgen">HTTP(80)</label>
										<input type="checkbox" id="public_inbound_port_https_rexgen" value="HTTPS"><label for="public_inbound_port_https_rexgen">HTTPS(443)</label>
										<input type="checkbox" id="public_inbound_port_ssh_rexgen" value="SSH"><label for="public_inbound_port_ssh_rexgen">SSH(22)</label>
										<input type="checkbox" id="public_inbound_port_rdp_rexgen" value="RDP"><label for="public_inbound_port_rdp_rexgen">RDP(3389)</label>
									</div>
								</td>
							</tr>
						</table>
					</div><!-- //pop_tab_cont -->
					<div class="pop_tab_cont_rexgen" id="pop_tab_rexgen6">
						<table class="tb_pop_data">
							<tr>
								<th th:text="#{w.custom-script-load-from-file}">Load Customization Script from a file</th>
								<td><input type="file" placeholder="select file"></td>
							</tr>
							<tr>
								<!--Create a custom script-->
								<th th:text="#{w.custom-script-write}">Customization Script</th>
								<td>
									<span>Content size: 0 bytes of 16.00 KB</span><!--콘텐츠 크기: 16.00 KB 중 0 바이트-->
									<textarea maxlength="16384" style="width: 684px;height: 295px"></textarea>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="pop_btns">
					<!-- <button type="button" class="btn_prev"><span class="ico_arr">PREV</span></button> -->
					<button type="button" class="btn_action" th:text="#{w.create}">LAUNCH INSTANCE</button>
					<button type="button" class="btn_next"><span class="ico_arr" th:text="#{w.next}">NEXT</span></button>
				</div>
			</div><!-- pop_body -->
		</div><!-- pop_common -->
	</div><!-- pop_wrap -->

</div>

<div layout:fragment="user.embedded.script" th:remove="tag">
	<script type="text/javascript" th:src="@{/js/console/dashboard.js}"></script>
	<script type="text/javascript" th:src="@{/js/console/dashboardCreate.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function () {
			DashboardUI.init();
			// createServerUI.init();
		});

		$('.swiper-pagination-bullet').on('click', function(){
			var target = $(this).parent('.tabs_inner');
			var left = $(this).position().left + ($(this).width()/2) - (target.parent().width()/2);

			if( -left > 8 ){
				target.css('left', 8 );
			} else {
				target.css('left', -left );
			}
		});
	</script>
</div>
</html>
