<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/authpermission.layout">
<div class="common_clearfix" layout:fragment="tit">
    <div class="cont_current" th:text="#{w.role}">role</div>
</div>
<div class="cont_detail_top common_clearfix" layout:fragment="detail_tit">
    <h4 class="detail_tit">ROLE LIST</h4>
    <div class="cont_top_action" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_ROLE_WRITE')">
        <button type="button" class="btn_action" id="role_create"><span class="ico_add"
                                                                        th:text="#{w.create}">CREATE</span></button>
        <button type="button" class="btn_action" id="role_update"><span class="ico_up"
                                                                        th:text="#{w.update}">UPDATE</span></button>
        <button type="button" class="btn_action" id="role_delete"><span class="ico_del"
                                                                        th:text="#{w.delete}">DELETE</span></button>
    </div><!-- //cont_top_action -->
</div>
<div class="inner" layout:fragment="tab">
    <a class="on"><h3 th:text="#{w.role}">Role</h3></a>
</div>
<div class="cont_body_top common_clearfix" layout:fragment="layout_tit">
    <div class="cont_top_search">
        <div class="cont_top_search_box">
            <div class="select_wrap">
                <select class="select_search">
                    <option value="name" th:text="#{title.jqgrid.name}">Name</option>
                    <option value="description" th:text="#{title.jqgrid.description}">Description</option>
                </select>
            </div>
            <input type="search" class="input_search">
            <button type="submit" class="searchBtn"><span>Search</span></button>
        </div><!-- //cont_top_search_box -->

        <!--			<div class="cont_top_pagenation" id="pager1">-->
        <!--				<button type="button" class="pagenation_btn prev"><span>Prev</span></button>-->
        <!--				<div class="pagenation_current"><strong class="current">1</strong>/<span class="total">10</span></div>-->
        <!--				<button type="button" class="pagenation_btn next"><span>Next</span></button>-->
        <!--			</div>&lt;!&ndash; //cont_top_pagenation &ndash;&gt;-->

        <button type="button" class="btn_control"><span class="ico_refresh" th:title="#{w.reload}">Refresh</span>
        </button>
    </div><!-- //cont_top_search -->
</div>
<div class="cont_body cont_list" layout:fragment="content.center">
    <!--	<div class="cont_body_top common_clearfix">-->
    <!--		<div class="cont_top_action" sec:authorize="hasAuthority('ROLE_ROLE_WRITE')">-->
    <!--		<div class="cont_top_action" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_ROLE_WRITE')">-->
    <!--			<button type="button" class="btn_action" id="role_create"><span class="ico_add" th:text="#{w.create}">CREATE</span></button>-->
    <!--		</div>&lt;!&ndash; //cont_top_action &ndash;&gt;-->
    <!--		<div class="cont_top_search">-->
    <!--			<div class="cont_top_search_box">-->
    <!--				<div class="select_wrap">-->
    <!--					<select class="select_search">-->
    <!--						<option value="name" th:text="#{title.jqgrid.name}">Name</option>-->
    <!--						<option value="description" th:text="#{title.jqgrid.description}">Description</option>-->
    <!--					</select>-->
    <!--				</div>-->
    <!--				<input type="search" class="input_search">-->
    <!--				<button type="submit" class="searchBtn"><span>Search</span></button>-->
    <!--			</div>&lt;!&ndash; //cont_top_search_box &ndash;&gt;-->

    <!--&lt;!&ndash;			<div class="cont_top_pagenation" id="pager1">&ndash;&gt;-->
    <!--&lt;!&ndash;				<button type="button" class="pagenation_btn prev"><span>Prev</span></button>&ndash;&gt;-->
    <!--&lt;!&ndash;				<div class="pagenation_current"><strong class="current">1</strong>/<span class="total">10</span></div>&ndash;&gt;-->
    <!--&lt;!&ndash;				<button type="button" class="pagenation_btn next"><span>Next</span></button>&ndash;&gt;-->
    <!--&lt;!&ndash;			</div>&lt;!&ndash; //cont_top_pagenation &ndash;&gt;&ndash;&gt;-->

    <!--            <button type="button" class="btn_control"><span class="ico_refresh" th:title="#{w.reload}">Refresh</span></button>-->
    <!--		</div>&lt;!&ndash; //cont_top_search &ndash;&gt;-->
    <!--	</div>&lt;!&ndash; //cont_body_top &ndash;&gt;-->

    <div class="tb_wrap">
        <table class="tb_grid" id="role-grid">

        </table>
    </div><!-- //tb_wrap -->

    <div class="cont_body_btm">
        <div class="pagenation_wrap" id="pager1">
            <div class="pagenation_inner">
                <button type="button" class="pagenation_btn first"><span>First</span></button>
                <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                <div class="pagenation_current"><strong class="current">1 - 0</strong>of<span class="total">0</span>
                </div>
                <button type="button" class="pagenation_btn next"><span>Next</span></button>
                <button type="button" class="pagenation_btn last"><span>Last</span></button>
            </div>
        </div>
    </div><!-- //cont_body_btm -->
</div>

<div class="cont_body cont_detail" layout:fragment="content.right">
    <div class="cont_detail_inner">
        <div class="cont_detail_top common_clearfix">
            <!--			<div class="detail_label">-->
            <!--                <button type="button" class="detail_label_btn"><span class="ico_close" th:text="#{w.detail-screen}">Detail view</span></button>-->
            <!--			</div>-->
            <h4 class="detail_tit">Role Name</h4>
            <!--			<div class="detail_option" sec:authorize="hasAuthority('ROLE_ROLE_WRITE')">-->
<!--            <div class="detail_option" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_ROLE_WRITE')">-->
<!--                <div class="detail_option_action">-->
<!--                    <button type="button" class="detail_action_btn"><span>Action</span></button>-->
<!--                    <ul class="detail_action_list" id="detailAction">-->
<!--                        <li>-->
<!--                            <button type="button" id="role_update" th:text="#{w.update2}">Update</button>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <button type="button" id="role_delete" th:text="#{w.delete}">Delete</button>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>&lt;!&ndash; //detail_option_action &ndash;&gt;-->
<!--            </div>&lt;!&ndash; //detail_option &ndash;&gt;-->
        </div><!-- //cont_detail_top -->

        <div class="cont_tab_wrap">
            <div class="detail_tab">
                <div class="inner">
                    <a href="#" class="on"><h5 th:text="#{title.tab.detail}">Detail</h5></a>
                    <a href="#"><span th:text="#{title.tab.user}">User</span></a>
                    <a href="#"><span th:text="#{title.tab.permission}">Permission</span></a>
                    <a href="#"><span th:text="#{w.use-breakdown}">History</span></a>
                </div>
            </div><!-- //detail_tab -->
        </div>
        <!-- TAB 1 -->
        <div class="detail_cont" id="tab1">

        </div><!-- //detail_cont -->

        <!-- TAB 2 -->
        <div class="detail_cont" id="tab2">
            <div class="detail_data">
                <div class="detail_data_top common_clearfix">
                    <!--					<div class="cont_top_action" sec:authorize="hasAuthority('ROLE_ROLE_WRITE')">-->
                    <div class="cont_top_action" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_ROLE_WRITE')">
                        <button type="button" class="btn_action" id="role_user_create"><span class="ico_add"
                                                                                             th:text="#{w.add}">ADD</span>
                        </button>
                        <button type="button" class="btn_action" id="role_user_delete"><span class="ico_del"
                                                                                             th:text="#{w.delete}">DELETE</span>
                        </button>
                    </div><!-- //cont_top_action -->
                    <div class="cont_top_search">
                        <div class="cont_top_search_box">
                            <input type="search" class="sub_search" placeholder="Search Name">
                            <button type="submit" class="sub_search_btn"><span th:title="#{w.search}">Search</span>
                            </button>
                        </div><!-- //cont_top_search_box -->

                        <!--						<div class="cont_top_pagenation" id="pager2">-->
                        <!--							<button type="button" class="pagenation_btn prev"><span>Prev</span></button>-->
                        <!--							<div class="pagenation_current"><strong class="current">1</strong>/<span class="total">10</span></div>-->
                        <!--							<button type="button" class="pagenation_btn next"><span>Next</span></button>-->
                        <!--						</div>&lt;!&ndash; //cont_top_pagenation &ndash;&gt;-->

                        <button type="button" class="btn_control"><span class="ico_refresh" th:title="#{w.reload}">Refresh</span>
                        </button>
                    </div><!-- //cont_top_search -->
                </div><!-- //detail_data_top -->

                <div class="tb_wrap">
                    <table class="tb_grid" id="user-grid">

                    </table>
                </div><!-- //tb_wrap -->

                <div class="cont_body_btm">
                    <div class="pagenation_wrap" id="pager2">
                        <div class="pagenation_inner">
                            <button type="button" class="pagenation_btn first"><span>First</span></button>
                            <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                            <div class="pagenation_current"><strong class="current">1 - 0</strong>of<span class="total">0</span>
                            </div>
                            <button type="button" class="pagenation_btn next"><span>Next</span></button>
                            <button type="button" class="pagenation_btn last"><span>Last</span></button>
                        </div>
                    </div>
                </div><!-- //cont_body_btm -->
            </div><!-- //detail_data -->
        </div><!-- //detail_cont -->

        <!-- TAB 3 -->
        <div class="detail_cont" id="tab3">
            <div class="detail_data">
                <div class="detail_data_top common_clearfix">
                    <!--					<div class="cont_top_action" sec:authorize="hasAuthority('ROLE_ROLE_WRITE')">-->
                    <div class="cont_top_action" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_ROLE_WRITE')">
                        <button type="button" class="btn_action" id="role_permission_create"><span class="ico_add"
                                                                                                   th:text="#{w.add}">ADD</span>
                        </button>
                        <button type="button" class="btn_action" id="role_permission_delete"><span class="ico_del"
                                                                                                   th:text="#{w.delete}">DELETE</span>
                        </button>
                    </div><!-- //cont_top_action -->
                    <div class="cont_top_search">
                        <div class="cont_top_search_box">
                            <input type="search" class="sub_search" placeholder="Search Name">
                            <button type="submit" class="sub_search_btn"><span th:title="#{w.search}">Search</span>
                            </button>
                        </div><!-- //cont_top_search_box -->

                        <!--						<div class="cont_top_pagenation" id="pager3">-->
                        <!--							<button type="button" class="pagenation_btn prev"><span>Prev</span></button>-->
                        <!--							<div class="pagenation_current"><strong class="current">1</strong>/<span class="total">10</span></div>-->
                        <!--							<button type="button" class="pagenation_btn next"><span>Next</span></button>-->
                        <!--						</div>&lt;!&ndash; //cont_top_pagenation &ndash;&gt;-->

                        <button type="button" class="btn_control"><span class="ico_refresh" th:title="#{w.reload}">Refresh</span>
                        </button>
                    </div><!-- //cont_top_search -->
                </div><!-- //detail_data_top -->

                <div class="tb_wrap">
                    <table class="tb_grid" id="permission-grid">

                    </table>
                </div><!-- //tb_wrap -->

                <div class="cont_body_btm">
                    <div class="pagenation_wrap" id="pager3">
                        <div class="pagenation_inner">
                            <button type="button" class="pagenation_btn first"><span>First</span></button>
                            <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                            <div class="pagenation_current"><strong class="current">1 - 0</strong>of<span class="total">0</span>
                            </div>
                            <button type="button" class="pagenation_btn next"><span>Next</span></button>
                            <button type="button" class="pagenation_btn last"><span>Last</span></button>
                        </div>
                    </div>
                </div><!-- //cont_body_btm -->
            </div><!-- //detail_data -->
        </div><!-- //detail_cont -->

        <!-- TAB 4 -->
        <div class="detail_cont" id="tab4">
            <div class="detail_data">
                <div class="detail_data_top common_clearfix">
                    <!--<div class="cont_top_action" sec:authorize="hasAnyAuthority('ROLE_ADMIN' ,'ROLE_CLOUD_WRITE')">
                        <button type="button" class="btn_action" id="server_volume_attach">Attach Volume</button>
                        <button type="button" class="btn_action st2" id="server_volume_detach">Detach Volume</button>
                    </div>&lt;!&ndash; //cont_top_action &ndash;&gt;-->
                    <div class="cont_top_search">
                        <div class="cont_top_search_box">
                            <input type="search" class="sub_search" placeholder="Search Name">
                            <button type="submit" class="sub_search_btn"><span th:title="#{w.search}">Search</span>
                            </button>
                        </div><!-- //cont_top_search_box -->

                        <!--<div class="cont_top_pagenation" id="pager2">
                            <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                            <div class="pagenation_current"><strong class="current">1</strong>/<span class="total">10</span></div>
                            <button type="button" class="pagenation_btn next"><span>Next</span></button>
                        </div> //cont_top_pagenation -->

                        <button type="button" class="btn_control"><span class="ico_refresh" th:title="#{w.reload}">Refresh</span>
                        </button>
                    </div><!-- //cont_top_search -->
                </div><!-- //detail_data_top -->

                <div class="tb_wrap">
                    <table class="tb_grid" id="history-grid">
                    </table>
                </div><!-- //tb_wrap -->

                <div class="cont_body_btm">
                    <div class="pagenation_wrap" id="pager4">
                        <div class="pagenation_inner">
                            <button type="button" class="pagenation_btn first"><span>First</span></button>
                            <button type="button" class="pagenation_btn prev"><span>Prev</span></button>
                            <div class="pagenation_current"><strong class="current">1 - 0</strong>of<span class="total">0</span>
                            </div>
                            <button type="button" class="pagenation_btn next"><span>Next</span></button>
                            <button type="button" class="pagenation_btn last"><span>Last</span></button>
                        </div>
                    </div>
                </div><!-- //cont_body_btm -->

            </div><!-- //detail_data -->
        </div>

    </div><!-- //cont_detail_inner -->
</div>


<div class="content_center content_extend" layout:fragment="content.extend" th:remove="all"></div>

<div th:remove="tag" layout:fragment="page.popup">
    <div class="pop_wrap" id="popupCreate" style="width:760px">
        <button type="button" class="btn_pop_close"><span class="ico_del"></span></button>
        <div class="pop_common">
            <div class="pop_tit" th:text="#{w.t.multi(#{title.tab.role},#{w.create})}">Create Role</div>
            <div class="pop_body">
                <div class="pop_cont">
                    <table class="tb_pop_data">
                        <tr>
                            <th th:text="#{w.name}">Name</th>
                            <td><input type='text' class='input_tb_text name'></td>
                        </tr>
                        <tr>
                            <th th:text="#{w.description}">Description</th>
                            <td><input type='text' class='input_tb_text description'></td>
                        </tr>
                    </table>
                </div><!-- pop_cont -->
                <div class="pop_btns">
                    <button type="button" class="btn_action" th:text="#{w.create}">Create</button>
                </div>
            </div><!-- pop_body -->
        </div><!-- popup -->
    </div><!-- popup -->

    <div class="pop_wrap" id="popupUpdate" style="width:760px">
        <button type="button" class="btn_pop_close"><span class="ico_del"></span></button>
        <div class="pop_common">
            <div class="pop_tit" th:text="#{w.t.multi(#{title.tab.role},#{w.update2})}">Update Role</div>
            <div class="pop_body">
                <div class="pop_cont">
                    <table class="tb_pop_data">
                        <tr>
                            <th th:text="#{w.name}">Name</th>
                            <td><input type="text" class="input_tb_text name"></td>
                        </tr>
                        <tr>
                            <th th:text="#{w.description}">Description</th>
                            <td><input type="text" class="input_tb_text description"></td>
                        </tr>
                    </table>

                </div><!-- pop_cont -->
                <div class="pop_btns">
                    <button type="button" class="btn_action" th:text="#{w.update2}">Update</button>
                </div>
            </div><!-- pop_body -->
        </div><!-- popup -->
    </div><!-- popup -->

    <div class="pop_wrap" id="popupUserCreate">
        <button type="button" class="btn_pop_close"><span class="ico_del"></span></button>
        <div class="pop_common">
            <div class="pop_tit" th:text="#{w.t.add(#{w.user})}">Add User</div>
            <div class="pop_body">
                <div class="pop_cont">
                    <div class="tb_wrap">
                        <table class="tb_grid">
                            <thead>
                            <tr>
                                <th class="row_input"><input type="checkbox" id="checkboxAll"><label
                                        for="checkboxAll"></label></th>
                                <th>ID</th>
                                <th th:text="#{w.name}">Name</th>
                                <th th:text="#{w.description}">Description</th>
                                <th>Email</th>
                                <th th:text="#{title.jqgrid.contract}">Contract</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div><!-- //tb_wrap -->
                </div><!-- pop_cont -->
                <div class="pop_btns">
                    <button type="button" class="btn_action" th:text="#{w.create}">CREATE</button>
                </div>
            </div><!-- pop_body -->
        </div><!-- pop_common -->
    </div><!-- pop_wrap -->

    <div class="pop_wrap" id="popupPermissionCreate">
        <button type="button" class="btn_pop_close"><span class="ico_del"></span></button>
        <div class="pop_common">
            <div class="pop_tit" th:text="#{w.t.add(#{title.tab.permission})}">Add Permission</div>
            <div class="pop_body">
                <div class="pop_cont">
                    <div class="tb_wrap">
                        <table class="tb_grid">
                            <thead>
                            <tr>
                                <th class="row_input"><input type="checkbox" id="checkboxAll_permission"><label
                                        for="checkboxAll_permission"></label></th>
                                <th th:text="#{w.name}">Name</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div><!-- //tb_wrap -->
                </div><!-- pop_cont -->
                <div class="pop_btns">
                    <button type="button" class="btn_action" th:text="#{w.create}">CREATE</button>
                </div>
            </div><!-- pop_body -->
        </div><!-- pop_common -->
    </div><!-- pop_wrap -->

    <div class="pop_wrap" id="" style="width:833px">
        <button type="button" class="btn_pop_close"><span class="ico_del"></span></button>
        <div class="pop_common">
            <div class="pop_tit" th:text="#{w.t.multi(#{w.instance},#{w.run})}">launch instance</div>
            <div class="pop_body">
                <div class="cont_tab pop_tab">
                    <div class="inner">
                        <a href="#" class="on"><h3 th:text="#{w.t.multi(#{w.instance},#{w.information})}">Instance
                            Info</h3></a>
                        <a href="#"><span>Templete</span></a>
                        <a href="#"><span th:text="#{w.spec}">Spec</span></a>
                        <a href="#"><span th:text="#{w.network}">Network</span></a>
                        <a href="#"><span th:text="#{w.security-group}">Security Group</span></a>
                        <a class="last" href="#"><span th:text="#{w.keypair}">Key Pair</span></a>
                    </div>
                </div><!-- //cont_tab -->
                <div class="pop_cont">
                    <!-- TAB 1 -->
                    <div class="pop_tab_cont" id="pop_tab1">
                        <table class="tb_pop_data">
                            <tr>
                                <th th:text="#{w.t.name(#{w.instance})}">Instance Name</th>
                                <td><input type="text" id="" class="input_tb_text"
                                           placeholder="Input your instance name"></td>
                            </tr>
                            <tr>
                                <th th:text="#{w.description}">Description</th>
                                <td><input type="text" id="" class="input_tb_text"
                                           placeholder="Information for Instance"></td>
                            </tr>
                            <tr>
                                <th th:text="#{w.t.type(#{w.cloud})}">Cloud Type</th>
                                <td>
                                    <div class="select_wrap">
                                        <select id="">
                                            <option value="">Select Cloud</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th th:text="#{w.t.name(#{w.cloud})}">Cloud Name</th>
                                <td>
                                    <div class="select_wrap">
                                        <select id="">
                                            <option value="">Select your Cloud Farm</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Count</th>
                                <td><input type="number" id="" class="input_tb_text" value="1"></td>
                            </tr>
                        </table>
                    </div><!-- //pop_tab_cont -->

                    <!-- TAB 2 -->
                    <div class="pop_tab_cont" id="pop_tab2">
                        <div class="pop_create_selectbox">
                            <label class="tit" for="">Source</label>
                            <div class="select_wrap">
                                <select id="">
                                    <option value="">Select Template</option>
                                </select>
                            </div>
                        </div><!-- //pop_create_selectbox -->

                        <div class="pop_tb_top common_clearfix">
                            <div class="pop_tb_top_tit">Select One Template</div>
                            <div class="cont_top_search">
                                <div class="cont_top_search_box">
                                    <input type="search" id="" placeholder="Seach the Template">
                                    <button type="submit"><span th:title="#{w.search}">Search</span></button>
                                </div><!-- //cont_top_search_box -->
                            </div><!-- //cont_top_search -->
                        </div><!-- //pop_tb_top -->

                        <div class="tb_wrap">
                            <table class="tb_grid">
                                <thead>
                                <tr>
                                    <th class="row_input"><input type="checkbox" id="checkboxAll"><label
                                            for="checkboxAll"></label></th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Type</th>
                                    <th>Updated Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" id="checkbox1"><label for="checkbox1"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox2"><label for="checkbox2"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox3"><label for="checkbox3"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox4"><label for="checkbox4"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox5"><label for="checkbox5"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox6"><label for="checkbox6"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox7"><label for="checkbox7"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- //tb_wrap -->
                    </div><!-- //pop_tab_cont -->

                    <!-- TAB 3 -->
                    <div class="pop_tab_cont" id="pop_tab3">
                        <div class="pop_tb_top common_clearfix">
                            <div class="pop_tb_top_tit">Select One Spec</div>
                            <div class="cont_top_search">
                                <div class="cont_top_search_box">
                                    <input type="search" id="" placeholder="Seach the Template">
                                    <button type="submit"><span th:title="#{w.search}">Search</span></button>
                                </div><!-- //cont_top_search_box -->
                            </div><!-- //cont_top_search -->
                        </div><!-- //pop_tb_top -->

                        <div class="tb_wrap">
                            <table class="tb_grid">
                                <thead>
                                <tr>
                                    <th class="row_input"><input type="checkbox" id="checkboxAll"><label
                                            for="checkboxAll"></label></th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Type</th>
                                    <th>Updated Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" id="checkbox1"><label for="checkbox1"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox2"><label for="checkbox2"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox3"><label for="checkbox3"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox4"><label for="checkbox4"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox5"><label for="checkbox5"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox6"><label for="checkbox6"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox7"><label for="checkbox7"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox8"><label for="checkbox8"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- //tb_wrap -->
                    </div><!-- //pop_tab_cont -->

                    <!-- TAB 4 -->
                    <div class="pop_tab_cont" id="pop_tab4">
                        <div class="pop_tb_top common_clearfix">
                            <div class="pop_tb_top_tit">Select One Network</div>
                            <div class="cont_top_search">
                                <div class="cont_top_search_box">
                                    <input type="search" id="" placeholder="Seach the Template">
                                    <button type="submit"><span th:title="#{w.search}">Search</span></button>
                                </div><!-- //cont_top_search_box -->
                            </div><!-- //cont_top_search -->
                        </div><!-- //pop_tb_top -->

                        <div class="tb_wrap">
                            <table class="tb_grid">
                                <thead>
                                <tr>
                                    <th class="row_input"><input type="checkbox" id="checkboxAll"><label
                                            for="checkboxAll"></label></th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Type</th>
                                    <th>Updated Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" id="checkbox1"><label for="checkbox1"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox2"><label for="checkbox2"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox3"><label for="checkbox3"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox4"><label for="checkbox4"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox5"><label for="checkbox5"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox6"><label for="checkbox6"></label></td>
                                    <td>CentOS Generic</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox7"><label for="checkbox7"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox8"><label for="checkbox8"></label></td>
                                    <td>Cirros 3.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- //tb_wrap -->
                    </div><!-- //pop_tab_cont -->

                    <!-- TAB 5 -->
                    <div class="pop_tab_cont" id="pop_tab5">
                        <div class="pop_tb_top common_clearfix">
                            <div class="pop_tb_top_tit">Select One Security Group</div>
                            <div class="cont_top_search">
                                <div class="cont_top_search_box">
                                    <input type="search" id="" placeholder="Seach the Template">
                                    <button type="submit"><span th:title="#{w.search}">Search</span></button>
                                </div><!-- //cont_top_search_box -->
                            </div><!-- //cont_top_search -->
                        </div><!-- //pop_tb_top -->

                        <div class="tb_wrap">
                            <table class="tb_grid">
                                <thead>
                                <tr>
                                    <th class="row_input"><input type="checkbox" id="checkboxAll"><label
                                            for="checkboxAll"></label></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" id="checkbox1"><label for="checkbox1"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox2"><label for="checkbox2"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox3"><label for="checkbox3"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox4"><label for="checkbox4"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox5"><label for="checkbox5"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox6"><label for="checkbox6"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox7"><label for="checkbox7"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox8"><label for="checkbox8"></label></td>
                                    <td>Default</td>
                                    <td>Default security group</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- //tb_wrap -->
                    </div><!-- //pop_tab_cont -->

                    <!-- TAB 6 -->
                    <div class="pop_tab_cont" id="pop_tab6">

                        <div class="pop_tb_top common_clearfix">
                            <div class="pop_tb_top_tit">Select One Key Pair</div>
                            <div class="cont_top_search">
                                <div class="cont_top_search_box">
                                    <input type="search" id="" placeholder="Seach the Template">
                                    <button type="submit"><span th:title="#{w.search}">Search</span></button>
                                </div><!-- //cont_top_search_box -->
                            </div><!-- //cont_top_search -->
                        </div><!-- //pop_tb_top -->

                        <div class="tb_wrap">
                            <table class="tb_grid">
                                <thead>
                                <tr>
                                    <th class="row_input"><input type="checkbox" id="checkboxAll"><label
                                            for="checkboxAll"></label></th>
                                    <th>Name</th>
                                    <th>Public Key</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" id="checkbox1"><label for="checkbox1"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox2"><label for="checkbox2"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox3"><label for="checkbox3"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox4"><label for="checkbox4"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox5"><label for="checkbox5"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox6"><label for="checkbox6"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox7"><label for="checkbox7"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="checkbox8"><label for="checkbox8"></label></td>
                                    <td>Default</td>
                                    <td>521654df45a4g4d84df5a1df231sd65f4d6f23f1f54asd5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- //tb_wrap -->
                    </div><!-- //pop_tab_cont -->
                </div>
                <div class="pop_btns">
                    <!-- <button type="button" class="btn_prev"><span class="ico_arr">PREV</span></button> -->
                    <button type="button" class="btn_action">LAUNCH INSTANCE</button>
                    <button type="button" class="btn_next"><span class="ico_arr">NEXT</span></button>
                </div>
            </div><!-- pop_body -->
        </div><!-- pop_common -->
    </div><!-- pop_wrap -->
</div>


<div layout:fragment="user.embedded.script" th:remove="tag">
    <script type="text/javascript" th:inline="javascript">

    </script>
    <script type="text/javascript" th:src="@{/js/console/role.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            RoleUI.init();
        });

    </script>
</div>
</html>
