<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout/main.layout">


<div class="leftSide" layout:fragment="leftside" th:remove="all"></div>
<div class="content" layout:fragment="content" style="left: 0">
	<div class="error_wrap">
		<h3>ERROR! We’re SORRY...</h3>
		<p>Promptly and easily create virtual servers and configure their network via the Adaptive Compute Engine (ACE).</p>
	</div>
</div>
</html>